<div class="watchlist-title">
    My Watchlist
</div>

<div *ngIf="showEmptyPrompt" class="alert alert-warning prompt-container">
    <div class="prompt-message">
        Currently you don't have any stock in your watchlist.
    </div>
</div>

<div *ngIf="showLoading" class="loadingView"><mat-spinner class="custom-spinner"></mat-spinner></div>
<div style="margin-bottom: 100px;">
    <div *ngFor="let stockItem of watchListData">
        <div class="watchlist-item-content">
            <span class="bi bi-x close-icon" (click)="uncollect(stockItem.stock)"></span>

            <div class="item-detail" (click)="navigateToDetailPage(stockItem.stock)">
                <div class="item-detail-left">
                    <div class="stock">{{stockItem.stock}}</div>
                    <div class="name">{{stockItem.name}}</div>
                </div>
                <div class="item-detail-right">
                    <div class="detail-stock-price"
                        [ngStyle]="{'color': stockItem.change === 0 ? 'black' : stockItem.change > 0 ? 'green' : 'red'}">
                        {{ stockItem.currentPrice }}
                    </div>
                    <div class="detail-stock-change"
                        [ngStyle]="{'color': stockItem.change === 0 ? 'black' : stockItem.change > 0 ? 'green' : 'red'}">
                        <span *ngIf="stockItem.change > 0" class="bi bi-caret-up-fill"></span>
                        <span *ngIf="stockItem.change < 0" class="bi bi-caret-down-fill"></span>
                        {{ stockItem.change }}&nbsp;({{ stockItem.changePercent }}%)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>