.search-title {
    font-size: 40px;
    font-weight: 300;
    color: #242426;
    text-align: center;
    margin: 10px;
    padding: 20px;
}

.searchbar {
    border: #2729b4 solid 3px;
    border-radius: 21px;
    height: 42px;
    margin: 10px auto 30px auto;
    display: flex;
    align-items: center;
}

@media (min-width: 768px) {
    .searchbar {
        width: 700px;
    }
}

@media (max-width: 768px) {
    .searchbar {
        width: 300px;
    }
}

.search-inputbox,
.search-button,
.clear-button {
    vertical-align: middle;
    background-color: transparent;
}

.search-inputbox {
    width: 610px;
    height: 40px;
    border: none;
    outline: none;
    font-size: 16px;
    margin-left: 25px;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    margin: 5px 10px 5px 0;
}

.search-button,
.clear-button {
    color: #2729b4;
}

.icon-container:hover {
    transform: scale(1.1);
}

.search-results-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.custom-spinner {
    transform: scale(0.4);
}

.search-results {
    position: absolute;
    border: 1px solid #ccc;
    background: white;
    min-height: 60px;
    overflow-y: auto;
    margin: -40px auto 0 auto;
    display: flex;
    z-index: 1000;
}

@media (min-width: 768px) {
    .search-results {
        width: 560px;
        max-height: 280px;
        transform: translateX(-40px);
    }
}

@media (max-width: 768px) {
    .search-results {
        width: 220px;
        max-height: 200px;
        transform: translateX(-20px);
    }
}

.spinner-border {
    color: #2729b4;
    margin: 20px;
}

.search-result-item {
    border: none;
    padding: 12px 8px;
    cursor: pointer;
}

.search-result-item:hover {
    background-color: #f0f0f0;
}