<h1 class="search-title">STOCK SEARCH</h1>

<form class="searchbar" (ngSubmit)="searchStock($event)" [formGroup]="searchForm">
  <input type="text" class="search-inputbox" formControlName="stockInput" autocomplete="off"
    placeholder="Enter Stock Ticker Symbol" required />
  <div class="icon-container" (click)="searchStock($event)">
    <span class="bi bi-search search-button"></span>
  </div>
  <div class="icon-container" (click)="clearSearch()">
    <span class="bi bi-x-lg clear-button"></span>
  </div>
</form>

<div *ngIf="showSuggestions" class="search-results-container">
  <div class="list-group scrollable-list search-results">
    <mat-spinner *ngIf="showLoading" class="custom-spinner"></mat-spinner>
    <div *ngFor="let result of stockSuggestions">
      <a class="list-group-item list-group-item-action search-result-item" (click)="jumpToStock(result.symbol)">{{
        result.symbol }} | {{ result.description }}</a>
    </div>
  </div>
</div>

<div *ngIf="showErrorView" class="alert alert-danger error-container">
  <div class="error-message">
    Please enter valid ticker
  </div>
  <span class="bi bi-x close-icon" (click)="closeErrorView()"></span>
</div>