<app-search-bar [initStock]="stock"></app-search-bar>

<div *ngIf="showCollectPrompt" class="alert alert-success prompt-container">
    <div class="prompt-message">
        {{ stock }}&nbsp;added to Watchlist.
    </div>
    <span class="bi bi-x close-icon" (click)="closeCollectPrompt()"></span>
</div>

<div *ngIf="showUncollectPrompt" class="alert alert-danger prompt-container">
    <div class="prompt-message">
        {{ stock }}&nbsp;removed from Watchlist.
    </div>
    <span class="bi bi-x close-icon" (click)="closeUncollectPrompt()"></span>
</div>

<div *ngIf="showBuyPrompt" class="alert alert-success prompt-container">
    <div class="prompt-message">
        {{ stock }}&nbsp;bought successfully.
    </div>
    <span class="bi bi-x close-icon" (click)="closeBuyPrompt()"></span>
</div>

<div *ngIf="showSellPrompt" class="alert alert-danger prompt-container">
    <div class="prompt-message">
        {{ stock }}&nbsp;sold successfully.
    </div>
    <span class="bi bi-x close-icon" (click)="closeSellPrompt()"></span>
</div>

<div *ngIf="showErrorView" class="alert alert-danger prompt-container">
    <div class="prompt-message">
        No data found. Please enter a valid Ticker
    </div>
</div>

<div *ngIf="showLoading" class="loadingView"><mat-spinner class="custom-spinner"></mat-spinner></div>
<div *ngIf="showDetailView" class="container">
    <div class="detailView">
        <div class="row">
            <div class="col-5 d-flex flex-column align-items-center detail-company-container">
                <div class="detail-text-symbol">
                    {{ stockData.detail.symbol }}
                    <span *ngIf="!collectBtn" class="bi bi-star" (click)="collectStock()"></span>
                    <span *ngIf="collectBtn" class="bi bi-star-fill" style="color: #fbdc06;"
                        (click)="collectStock()"></span>
                </div>
                <div class="detail-text-name">{{ stockData.detail.name }}</div>
                <div class="detail-text-code">{{ stockData.detail.code }}</div>
                <div class="detail-buy-sell-container">
                    <button class="btn btn-success" (click)="buySellStock(true)">Buy</button>
                    <button *ngIf="sellBtn" class="btn btn-danger" (click)="buySellStock(false)">Sell</button>
                </div>
            </div>

            <div class="col-2 d-flex flex-column align-items-center">
                <img [src]="stockData.detail.logo" alt="logo" class="detail-stock-logo">
            </div>

            <div class="col-5 d-flex flex-column align-items-center detail-stock-container">
                <div class="detail-stock-price" [ngStyle]="{'color': stockData.detail.change > 0 ? 'green' : 'red'}">{{
                    stockData.detail.lastPrice }}</div>
                <div class="detail-stock-change" [ngStyle]="{'color': stockData.detail.change > 0 ? 'green' : 'red'}">
                    <span *ngIf="stockData.detail.change > 0" class="bi bi-caret-up-fill"></span>
                    <span *ngIf="stockData.detail.change < 0" class="bi bi-caret-down-fill"></span>
                    {{ stockData.detail.change }}&nbsp;({{ stockData.detail.changePercent }}%)
                </div>
                <div class="detail-stock-date">{{ detailDate | date: 'yyyy-MM-dd HH:mm:ss' }}</div>
            </div>
        </div>

        <div class="row detail-market-status">
            <div class="col-12">
                <div *ngIf="stockData.detail.status" style="color: green;">Market is Open</div>
                <div *ngIf="!stockData.detail.status" style="color: red;">Market Closed on {{stockData.detail.timestamp
                    |
                    date: 'yyyy-MM-dd HH:mm:ss'}}</div>
            </div>
        </div>
    </div>

    <mat-tab-group animationDuration="0ms">
        <mat-tab label="Summary">
            <div class="row tabView" style="margin: 0;">
                <div class="col-md-6">
                    <div class="col-md-12">
                        <div class="col-md-6 d-flex flex-column align-items-center summary-price">
                            <div class="summary-price-item">
                                <div class="summary-price-item-left">Hight Price:&nbsp;</div>
                                <div>{{ stockData.summary.highPrice }}</div>
                            </div>
                            <div class="summary-price-item">
                                <div class="summary-price-item-left">Low Price:&nbsp;</div>
                                <div>{{ stockData.summary.lowPrice }}</div>
                            </div>
                            <div class="summary-price-item">
                                <div class="summary-price-item-left">Open Price:&nbsp;</div>
                                <div>{{ stockData.summary.openPrice }}</div>
                            </div>
                            <div class="summary-price-item">
                                <div class="summary-price-item-left">Prev. Close:&nbsp;</div>
                                <div>{{ stockData.summary.prevClose }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 d-flex justify-content-center">
                        <div class="summary-company d-flex flex-column align-items-center">
                            <div class="summary-company-title">About the company</div>
                            <div class="summary-company-item">
                                <div class="summary-price-item-left">IPO Start Date:&nbsp;</div>
                                <div>{{ stockData.summary.ipo }}</div>
                            </div>
                            <div class="summary-company-item">
                                <div class="summary-price-item-left">Industry:&nbsp;</div>
                                <div>{{ stockData.summary.industry }}</div>
                            </div>
                            <div class="summary-company-item summary-company-webpage">
                                <div class="summary-price-item-left">Webpage:&nbsp;</div>
                                <a [href]="stockData.summary.webpage">{{ stockData.summary.webpage }}</a>
                            </div>
                            <div class="summary-company-item summary-company-item-left">Company Peers:</div>
                            <div class="d-flex flex-row justify-content-center summary-company-peers">
                                <div *ngFor="let peer of stockData.summary.peers">
                                    <a [href]="'search/'+peer">{{ peer }},</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <highcharts-chart [Highcharts]="summaryCharts" [options]="summaryChartsOptions"
                        [constructorType]="'stockChart'" class="summary-charts">
                    </highcharts-chart>
                </div>
            </div>
        </mat-tab>

        <mat-tab label="Top News">
            <div class="row row-cols-1 row-cols-md-2 tabView">
                <div *ngFor="let newsItem of stockData.news; index as i">
                    <div class="col">
                        <div class="news-card" (click)="showNewsDetail(i)">
                            <div class="news-card-img" style="background-image: url('{{ newsItem.image }}');"></div>
                            <div class="news-card-text">{{ newsItem.headline }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>

        <mat-tab label="Charts">
            <div class="tabView">
                <highcharts-chart [Highcharts]="mainCharts" [options]="mainChartsOptions"
                    [constructorType]="'stockChart'" class="main-charts">
                </highcharts-chart>
            </div>
        </mat-tab>

        <mat-tab label="Insights">
            <div class="row tabView" style="margin: 0;">
                <div class="insights-title">Insider Sentiments</div>
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <table class="insights-table">
                        <tr>
                            <th>{{ stockData.detail.name }}</th>
                            <th>MSPR</th>
                            <th>Change</th>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td>{{ stockData.insights.totalMspr }}</td>
                            <td>{{ stockData.insights.totalChange }}</td>
                        </tr>
                        <tr>
                            <td>Positive</td>
                            <td>{{ stockData.insights.positiveMspr }}</td>
                            <td>{{ stockData.insights.positiveChange }}</td>
                        </tr>
                        <tr>
                            <td>Negative</td>
                            <td>{{ stockData.insights.negativeMspr }}</td>
                            <td>{{ stockData.insights.negativeChange }}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-6">
                    <highcharts-chart [Highcharts]="insightsTrendsCharts" [options]="insightsTrendsChartsOptions"
                        class="insights-charts">
                    </highcharts-chart>
                </div>
                <div class="col-md-6">
                    <highcharts-chart [Highcharts]="insightsEPSCharts" [options]="insightsEPSChartsOptions"
                        class="insights-charts">
                    </highcharts-chart>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>