.loadingView {
    display: flex;
    justify-content: center;
}

@media (min-width: 768px) {
    .custom-spinner {
        transform: scale(0.8);
    }
}

@media (max-width: 768px) {
    .custom-spinner {
        transform: scale(0.5);
    }
}

.error-container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail-company-container,
.detail-stock-container {
    text-align: center;
}

.detail-text-symbol,
.detail-stock-price {
    margin: 3px 0;
    font-size: 24px;
}

.detail-text-name,
.detail-stock-change {
    margin: 3px 0;
    font-size: 20px;
    color: gray;
}

.detail-text-code,
.detail-stock-date {
    margin: 3px 0;
    font-size: 14px;
    color: gray;
}

.detail-stock-logo {
    width: 100%;
    min-width: 78px;
    max-width: 120px;
    height: auto;
}

.detail-but-sell-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.detail-market-status {
    text-align: center;
    font-size: 14px;
    margin: 20px 0;
}

.tabView {
    margin: 20px 0;
}

.summary-price {
    margin: 20px;
    font-size: 16px;
}

.summary-price-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.summary-price-item-left {
    font-weight: bold;
}

.summary-company {
    font-size: 18px;
}

.summary-company-title {
    text-decoration: underline;
}

.summary-company-item {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.summary-company-item-left {
    font-weight: bold;
}


.summary-charts {
    width: 100%;
    display: block;
}

@media (min-width: 768px) {
    .summary-company {
        margin: 20px;
        max-width: 400px;
    }

    .summary-company-title {
        margin: 20px;
        font-size: 28px;
    }

    .summary-company-webpage {
        max-width: 400px;
        flex-wrap: wrap;
    }

    .summary-company-peers {
        max-width: 400px;
        flex-wrap: wrap;
    }

    .summary-charts {
        height: 500px;
    }
}

@media (max-width: 768px) {
    .summary-company {
        margin: 5px;
        font-size: 16px;
        max-width: 350px;
    }

    .summary-company-title {
        margin: 5px;
        font-size: 24px;
    }

    .summary-company-webpage {
        max-width: 350px;
        flex-wrap: wrap;
    }

    .summary-company-peers {
        max-width: 350px;
        flex-wrap: wrap;
    }

    .summary-charts {
        height: 300px;
    }
}

.news-card {
    margin: 10px;
    background-color: #fbfbfb;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
}

.news-card-img {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

    background-size: cover;
    background-position: center;
}

.news-card-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    word-wrap: break-word;
    overflow: hidden;
}

@media (min-width: 768px) {
    .news-card {
        display: flex;
        flex-direction: row;
        height: 130px;
    }

    .news-card-img {
        margin: 10px;
        height: 110px;
        width: 160px;
        min-width: 150px;
    }

    .news-card-text {
        width: 100%;
        height: 100%;
        padding: 10px 15px;
    }
}

@media (max-width: 768px) {
    .news-card {
        display: flex;
        flex-direction: column;
        height: 260px;
    }

    .news-card-img {
        margin: 10px 5%;
        height: 160px;
        width: 90%;
    }

    .news-card-text {
        width: 100%;
        height: 80px;
        padding: 5px 10px;

        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
}

.main-charts {
    width: 100%;
    display: block;
}

@media (min-width: 768px) {
    .main-charts {
        height: 600px;
    }
}

@media (max-width: 768px) {
    .main-charts {
        height: 450px;
    }
}

.insights-title {
    font-size: 24px;
    text-align: center;
    margin: 10px 0;
}

.insights-table {
    width: 100%;
    border-collapse: collapse;
}

.insights-table tr {
    border-bottom: 1px solid #ddd;
}

.insights-table th,
.insights-table td {
    text-align: center;
    padding: 8px;
}

.insights-table tr td:first-child {
    font-weight: 700;
}

.insights-charts {
    margin-top: 20px;
    width: 100%;
    display: block;
}
