<nav class="navbar sticky-top navbar-expand-md navbar-dark" style="background-color: #2729b4;">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/search/home">Stock Search</a>
        <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/search/home" (click)="gotoSearchView()" [class.active]="isLinkActive('/search')">search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/watchlist" [class.active]="isLinkActive('/watchlist')">watchlist</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/portfolio" [class.active]="isLinkActive('/portfolio')">portfolio</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet />